In [1]:
import pandas as pd
df=pd.read_excel(r'D:\Heritage\data\cultural heritage.xlsx')

In [2]:
df

,Art form,"Region (State, District)",Endangered (Yes/No),# Practicing Artisans,"Coordinates (lat, lon)",Associated Festivals/Events,UNESCO Listed
0,Kutiyattam (Sanskrit theatre),"Kerala, Thrissur",Yes (severe crisis),NaN,"10.5303, 76.2147",Temple theatre performances (Kuttampalams),Yes
1,Tradition of Vedic chanting,"All India (Maharashtra, Kerala, Karnataka, Odi...",Yes (imminent threat),NaN,"~20.0, 78.0",Hindu rituals (yajna ceremonies),Yes
2,Ramlila (Ramayana theatre),Uttar Pradesh (Ayodhya and North India),No,NaN,"26.80, 82.20",Dussehra festival (Navaratri),Yes
3,Ramman (Garhwal folk theatre),"Uttarakhand (Saloor‐Dungra, Pauri Garhwal)",Yes (at risk),NaN,"30.00, 78.00","Ramman festival (late April, Saloor-Dungra)",Yes
4,Chhau dance (Purulia style),"West Bengal (Purulia), Jharkhand (Saraikela), ...",Yes (declining),NaN,"23.3423, 86.3628",Chaitra Parva spring festival,Yes
...,...,...,...,...,...,...,...
60,"Andhra Pradesh,Andhra Pradesh,Annual,2023,2547...",NaN,NaN,NaN,NaN,NaN,NaN
61,"Gujarat,Gujarat,Annual,2023,178067000 (actual)...",NaN,NaN,NaN,NaN,NaN,NaN
62,"Rajasthan,Rajasthan,Annual,2023,179052000 (act...",NaN,NaN,NaN,NaN,NaN,NaN
63,"Maharashtra,Maharashtra,Annual,2023,161360000 ...",NaN,NaN,NaN,NaN,NaN,NaN
64,"West Bengal,West Bengal,Annual,2023,145669000 ...",NaN,NaN,NaN,NaN,NaN,NaN

## Heritage_data

In [3]:
heritage_data=df[:50]
heritage_data.head()

,Art form,"Region (State, District)",Endangered (Yes/No),# Practicing Artisans,"Coordinates (lat, lon)",Associated Festivals/Events,UNESCO Listed
0,Kutiyattam (Sanskrit theatre),"Kerala, Thrissur",Yes (severe crisis),NaN,"10.5303, 76.2147",Temple theatre performances (Kuttampalams),Yes
1,Tradition of Vedic chanting,"All India (Maharashtra, Kerala, Karnataka, Odi...",Yes (imminent threat),NaN,"~20.0, 78.0",Hindu rituals (yajna ceremonies),Yes
2,Ramlila (Ramayana theatre),Uttar Pradesh (Ayodhya and North India),No,NaN,"26.80, 82.20",Dussehra festival (Navaratri),Yes
3,Ramman (Garhwal folk theatre),"Uttarakhand (Saloor‐Dungra, Pauri Garhwal)",Yes (at risk),NaN,"30.00, 78.00","Ramman festival (late April, Saloor-Dungra)",Yes
4,Chhau dance (Purulia style),"West Bengal (Purulia), Jharkhand (Saraikela), ...",Yes (declining),NaN,"23.3423, 86.3628",Chaitra Parva spring festival,Yes

In [4]:
heritage_data.drop(columns=['# Practicing Artisans'],inplace=True)
heritage_data.columns=['Art form','Region','Endangered','Coordinates','Festivals/Events','UNESCO Listed']

C:\Users\marut\AppData\Local\Temp\ipykernel_14304\2929610817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heritage_data.drop(columns=['# Practicing Artisans'],inplace=True)

In [5]:
heritage_data=pd.concat([heritage_data,heritage_data['Coordinates'].str.split(',',expand=True)],axis=1)
heritage_data.rename(columns={0: 'latitude', 1: 'longitude'}, inplace=True)
heritage_data['Endangered'] = heritage_data['Endangered'].str.replace(r'Yes.*', 'Yes', regex=True)
heritage_data.drop(columns=['Coordinates'],inplace=True)
heritage_data['latitude']=heritage_data['latitude'].str.replace(r'~','',regex=True)
heritage_data['longitude']=heritage_data['longitude'].str.replace(r'[a-z,A-Z,()]','',regex=True)
heritage_data['latitude'].astype(float)
heritage_data['longitude'].astype(float)

0     76.214700
1     78.000000
2     82.200000
3     78.000000
4     86.362800
5     73.691500
6     76.214700
7     77.577000
8     93.950300
9     75.147900
10    72.877656
11    77.209000
12    78.164200
13    88.363900
14    72.571400
15    94.629900
16    94.220000
17    94.000000
18    94.000000
19    93.950300
20    93.950300
21    93.950300
22    78.486700
23    79.002900
24    79.424400
25    79.384500
26    78.121700
27    73.311900
28    73.880000
29    73.691500
30    69.260900
31    73.691500
32    75.774400
33    70.924000
34    74.500000
35    74.500000
36    77.673700
37    85.882000
38    85.882000
39    83.916700
40    83.624200
41    84.320000
42    74.797400
43    74.797400
44    74.797400
45    74.797400
46    74.797400
47    74.797400
48    76.126500
49    87.527000
Name: longitude, dtype: float64

In [11]:
heritage_data.head()

,Art form,Region,Endangered,Festivals/Events,UNESCO Listed,latitude,longitude
0,Kutiyattam (Sanskrit theatre),"Kerala, Thrissur",Yes,Temple theatre performances (Kuttampalams),Yes,10.5303,76.2147
1,Tradition of Vedic chanting,"All India (Maharashtra, Kerala, Karnataka, Odi...",Yes,Hindu rituals (yajna ceremonies),Yes,20.0,78.0
2,Ramlila (Ramayana theatre),Uttar Pradesh (Ayodhya and North India),No,Dussehra festival (Navaratri),Yes,26.80,82.20
3,Ramman (Garhwal folk theatre),"Uttarakhand (Saloor‐Dungra, Pauri Garhwal)",Yes,"Ramman festival (late April, Saloor-Dungra)",Yes,30.00,78.00
4,Chhau dance (Purulia style),"West Bengal (Purulia), Jharkhand (Saraikela), ...",Yes,Chaitra Parva spring festival,Yes,23.3423,86.3628

In [12]:
heritage_data.to_csv('heritage_data.csv',index=False)

## Foot_falls data

In [8]:
foot_falls=df['Art form'][52:]
foot_falls.drop(index=52,axis=0,inplace=True)

In [9]:
foot_falls_split = foot_falls.str.split(',', expand=True)
foot_falls_split.columns = ['Place', 'State', 'Frequency', 'Year', 'Visitors']
foot_falls_split['Visitors'] = foot_falls_split['Visitors'].str.extract('(\d+)')
foot_falls_split.reset_index(drop=True,inplace=True)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\marut\AppData\Local\Temp\ipykernel_14304\2409292965.py:3: SyntaxWarning: invalid escape sequence '\d'
  foot_falls_split['Visitors'] = foot_falls_split['Visitors'].str.extract('(\d+)')

In [10]:
foot_falls_split.to_csv('foot_fall.csv')

In [18]:
df = pd.read_csv(r"data/foot_fall.csv")
df.drop(columns=['Unnamed: 0'],inplace=True)

In [19]:
df

                   Place           State Frequency  Year   Visitors
0              Taj Mahal   Uttar Pradesh    Annual  2023    6090000
1            Qutub Minar           Delhi    Annual  2023    3120000
2              Agra Fort   Uttar Pradesh    Annual  2023    1410000
3   Ram Mandir (Ayodhya)   Uttar Pradesh   Jan–Sep  2024  135500000
4          Uttar Pradesh   Uttar Pradesh    Annual  2023  478526000
5             Tamil Nadu      Tamil Nadu    Annual  2023  286012000
6              Karnataka       Karnataka    Annual  2023  284121000
7         Andhra Pradesh  Andhra Pradesh    Annual  2023  254706000
8                Gujarat         Gujarat    Annual  2023  178067000
9              Rajasthan       Rajasthan    Annual  2023  179052000
10           Maharashtra     Maharashtra    Annual  2023  161360000
11           West Bengal     West Bengal    Annual  2023  145669000

In [21]:
# df = pd.read_csv("data/tourism_footfall.csv")
df["ds"] = pd.to_datetime(df["Year"].astype(str), format="%Y")
df.rename(columns={"visitor_count": "y"}, inplace=True)

In [22]:
df

                   Place           State Frequency  Year   Visitors         ds
0              Taj Mahal   Uttar Pradesh    Annual  2023    6090000 2023-01-01
1            Qutub Minar           Delhi    Annual  2023    3120000 2023-01-01
2              Agra Fort   Uttar Pradesh    Annual  2023    1410000 2023-01-01
3   Ram Mandir (Ayodhya)   Uttar Pradesh   Jan–Sep  2024  135500000 2024-01-01
4          Uttar Pradesh   Uttar Pradesh    Annual  2023  478526000 2023-01-01
5             Tamil Nadu      Tamil Nadu    Annual  2023  286012000 2023-01-01
6              Karnataka       Karnataka    Annual  2023  284121000 2023-01-01
7         Andhra Pradesh  Andhra Pradesh    Annual  2023  254706000 2023-01-01
8                Gujarat         Gujarat    Annual  2023  178067000 2023-01-01
9              Rajasthan       Rajasthan    Annual  2023  179052000 2023-01-01
10           Maharashtra     Maharashtra    Annual  2023  161360000 2023-01-01
11           West Bengal     West Bengal    Annual  2023  145669000 2023-01-01

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Place      12 non-null     object
 1   State      12 non-null     object
 2   Frequency  12 non-null     object
 3   Year       12 non-null     int64
 4   Visitors   12 non-null     int64
 5   ds         12 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 708.0+ bytes

In [23]:
from prophet import Prophet

def forecast_site(df, site_name):
    site_df = df[df["Place"] == site_name][["ds"]].sort_values("ds")
    model = Prophet(yearly_seasonality=True)
    model.fit(site_df)

    future = model.make_future_dataframe(periods=12, freq='M')
    forecast = model.predict(future)
    return model, forecast

c:\Users\marut\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
from prophet.plot import plot_plotly
st.plotly_chart(plot_plotly(model, forecast))